<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ site.meta.title }}">
  <meta name="description" content="{{ site.meta.description }}">
  <meta property="og:title" content="{{ site.meta.title }}">
  <meta property="og:description" content="{{ site.meta.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.meta.url }}">
  <link rel="stylesheet" href="https://use.typekit.net/xtr2ajt.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
